pkgbase = brother-mfc-j5945dw
	pkgdesc = Brother MFC-J5945DW CUPS driver.
	pkgver = 1.0.0
	pkgrel = 1
	url = http://support.brother.com/g/b/downloadtop.aspx?c=us&lang=en&prod=mfcj5945dw_us_eu_as
	arch = i686
	arch = x86_64
	license = GPL
	depends = cups
	depends = ghostscript
	depends = psutils
	depends = sed
	depends = grep
	depends = file
	source = https://download.brother.com/welcome/dlf103903/mfcj5945dwpdrv-1.0.0-0.i386.rpm
	md5sums = ab9154a978bb0ccfd493c394d0532b40
	depends_x86_64 = lib32-gcc-libs

pkgname = brother-mfc-j5945dw
