pkgbase = meshlab
	pkgdesc = System for processing and editing of unstructured 3D models arising in 3D scanning (qt5 version)
	pkgver = 2025.07
	pkgrel = 2
	url = https://www.meshlab.net
	arch = i686
	arch = x86_64
	license = GPL2
	makedepends = boost
	makedepends = cmake
	makedepends = eigen
	makedepends = ninja
	makedepends = git
	makedepends = muparser
	makedepends = lib3ds
	makedepends = openctm-tools
	makedepends = patchelf
	depends = bzip2
	depends = cgal
	depends = embree
	depends = glew
	depends = glu
	depends = openssl
	depends = qt5-base
	depends = qt5-declarative
	depends = qt5-script
	depends = qt5-xmlpatterns
	depends = xerces-c
	depends = gmp
	depends = mpfr
	depends = mesa
	depends = qhull
	optdepends = lib3ds: for Autodesk`s 3D-Studio r3 and r4 .3DS file support
	optdepends = muparser: for filer_func plugins
	optdepends = openctm-tools: for compressed triangle mesh file format
	source = meshlab::git+https://github.com/cnr-isti-vclab/meshlab.git#tag=MeshLab-2025.07
	source = lib3mf.patch
	sha256sums = c9df509edc216bf2876ddee3be2b6624e685ae546a00a6f05caef29f3f986c3a
	sha256sums = 41fdc7c5ecab23a7b161e1aba2001ffdae713bbb13188b9bbc170c1dea959408

pkgname = meshlab
